<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xian.woniu.mars.mapper.SysUserMapper">

    <resultMap id="BaseResultMap" type="xian.woniu.mars.entity.SysUser">
            <id property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="realname" column="realname" jdbcType="VARCHAR"/>
            <result property="photo" column="photo" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,username,password,
        realname,photo
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from sys_user
        where  user_id = #{userId,jdbcType=INTEGER} 
    </select>

    <select id="selectByNameAndPwd" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from sys_user
        where  username = #{username} and password = #{password}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from sys_user
        where  user_id = #{userId,jdbcType=INTEGER} 
    </delete>
    <insert id="insert" keyColumn="user_id" keyProperty="userId" parameterType="xian.woniu.mars.entity.SysUser" useGeneratedKeys="true">
        insert into sys_user
        ( user_id,username,password
        ,realname,photo)
        values (#{userId,jdbcType=INTEGER},#{username,jdbcType=VARCHAR},#{password,jdbcType=VARCHAR}
        ,#{realname,jdbcType=VARCHAR},#{photo,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" keyColumn="user_id" keyProperty="userId" parameterType="xian.woniu.mars.entity.SysUser" useGeneratedKeys="true">
        insert into sys_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="userId != null">user_id,</if>
                <if test="username != null">username,</if>
                <if test="password != null">password,</if>
                <if test="realname != null">realname,</if>
                <if test="photo != null">photo,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="userId != null">#{userId,jdbcType=INTEGER},</if>
                <if test="username != null">#{username,jdbcType=VARCHAR},</if>
                <if test="password != null">#{password,jdbcType=VARCHAR},</if>
                <if test="realname != null">#{realname,jdbcType=VARCHAR},</if>
                <if test="photo != null">#{photo,jdbcType=VARCHAR},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="xian.woniu.mars.entity.SysUser">
        update sys_user
        <set>
                <if test="username != null">
                    username = #{username,jdbcType=VARCHAR},
                </if>
                <if test="password != null">
                    password = #{password,jdbcType=VARCHAR},
                </if>
                <if test="realname != null">
                    realname = #{realname,jdbcType=VARCHAR},
                </if>
                <if test="photo != null">
                    photo = #{photo,jdbcType=VARCHAR},
                </if>
        </set>
        where   user_id = #{userId,jdbcType=INTEGER} 
    </update>
    <update id="updateByPrimaryKey" parameterType="xian.woniu.mars.entity.SysUser">
        update sys_user
        set 
            username =  #{username,jdbcType=VARCHAR},
            password =  #{password,jdbcType=VARCHAR},
            realname =  #{realname,jdbcType=VARCHAR},
            photo =  #{photo,jdbcType=VARCHAR}
        where   user_id = #{userId,jdbcType=INTEGER} 
    </update>
</mapper>
